@font-face {
  font-family: 'iconfont';
  /* Project id 2640015 */
  src: url('//at.alicdn.com/t/font_2640015_ocuwpgdgteg.woff2?t=1625192663235') format('woff2'),
    url('//at.alicdn.com/t/font_2640015_ocuwpgdgteg.woff?t=1625192663235') format('woff'),
    url('//at.alicdn.com/t/font_2640015_ocuwpgdgteg.ttf?t=1625192663235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}